.view mat-card-title{
  font-size: 1.25em;
  font-weight: bold;
  word-wrap: break-word;
  /* margin: 10px; */
  /* max-width: 100%; */
}
.view mat-icon{
  cursor: pointer;
}
.toggle{
  float: right;
}
