<header class="header">
  <h1>Todos</h1>
  <mat-card>
    <mat-card-title>
      Add Todo
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput class="new-todo" placeholder="Title" autofocus="" [(ngModel)]="newTodo.title">
      </mat-form-field>
      <mat-form-field>
        <input matInput class="new-todo" placeholder="Text" [(ngModel)]="newTodo.Text" (keyup.enter)="addTodo()"/>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <mat-icon (click)="addTodo()">
        save
      </mat-icon>
    </mat-card-actions>
  </mat-card>
</header>
